*, *:before, *:after {
  box-sizing: border-box !important;
  word-wrap: break-word !important;
}

body {
  background: url(../img/back.jpg) no-repeat #E7E7E7;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: myFirstFont;
}

.container{
	display: inline-block;
  width: 100%;
}

article {
    max-height: 100vh;
    padding: 1em;
    overflow: auto;
}

img.divider {
  -webkit-filter: invert(.8);
  filter: invert(.8);
}
