*, *:before, *:after {
  box-sizing: border-box !important;
  word-wrap: break-word !important;
}

body{
	background: url(../img/bg.jpg) no-repeat #E7E7E7;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'bebasregular';
}

@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/BEBAS___-webfont.eot');
    src: url('../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*---start-content-header----*/
.cheader h1{
	color: #fff;
	font-size: 4em;
	font-weight: inherit;
}
.cheader p{
	color: #fff;
	font-size: 1em;
	font-weight: inherit;
	word-spacing: 0.2em;
}
.cheader {
	text-align: center;
	margin-top: 10em;
}
