h4{
  text-transform: uppercase;
}

.TopPanel{
  text-align: center;
  font-size: 30px;
}

table{
  text-align: left;
  width: 100vw;
}

.skills{
  text-align: left;
  width: auto;  
}

th{
  padding-right: 2em;
}

.courses td{
  padding-right: 1.5em;
}
