<!DOCTYPE html>
<html>
<head>
  <title>
    ://About Me
  </title>

  <link rel="stylesheet" type="text/css" href="../../css/about_me.css" />
  <link rel="stylesheet" type="text/css" href="../../css/menu.css" />
  <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css" />

</head>

<body>
  <div class="container">
    <ul class="menu">
      <li><a href="../../index.html">Home</a></li>
      <li class="active"><a href="about_me.html" >About Me</a></li>
      <li><a href="../404.html">Artwork</a></li>
      <ul class="submenu">
        <li>Patterns</li>
        <li>Pencil Work</li>
        <li>Miscellaneous</li>
      </ul>
      <li><a href="../404.html">Writing</a></li>
      <li><a href="../404.html">Photography</a></li>
    </ul>
  </div>

  <article>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus imperdiet velit a vehicula. Quisque in mauris lacinia, facilisis erat nec, fringilla velit. Nullam enim est, vulputate ac dictum vitae, aliquam at augue. Donec tristique justo ac mi finibus, nec iaculis metus convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam dictum tortor sit amet luctus ullamcorper. Morbi nec lectus ante. Mauris aliquam lobortis nunc vel molestie. Etiam suscipit vehicula massa at varius. In ultricies, nulla eu facilisis euismod, ligula quam dapibus felis, vitae eleifend orci nibh pharetra felis.
    <br />

 	  <div class="h3">Experiance</div><p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus imperdiet velit a vehicula. Quisque in mauris lacinia, facilisis erat nec, fringilla velit. Nullam enim est, vulputate ac dictum vitae, aliquam at augue. Donec tristique justo ac mi finibus, nec iaculis metus convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam dictum tortor sit amet luctus ullamcorper. Morbi nec lectus ante. Mauris aliquam lobortis nunc vel molestie. Etiam suscipit vehicula massa at varius. In ultricies, nulla eu facilisis euismod, ligula quam dapibus felis, vitae eleifend orci nibh pharetra felis.
      </p><br />

    <div class="h3">Skills</div><p>
      <table>
        <tr>
        <th>Java</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        <th>C</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        </tr>
        <tr>
        <th>Python</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        <th>Assembly (x86)</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        </tr>
        <tr>
        <th>HTML</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        <th>CSS</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        </tr>
        <tr>
        <th>SQL</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        <th>MongoDB</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        </tr>
        <tr>
        <th>Elasticsearch</th>
        <td><i class="fa fa-snowflake-o"></i><i class="fa fa-snowflake-o"></i></td>
        <th>Go</th>
        <td><i class="fa fa-snowflake-o"></i></td>
        </tr>
        <tr>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
        </tr>
      </table></p><p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus imperdiet velit a vehicula. Quisque in mauris lacinia, facilisis erat nec, fringilla velit. Nullam enim est, vulputate ac dictum vitae, aliquam at augue. Donec tristique justo ac mi finibus, nec iaculis metus convallis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam dictum tortor sit amet luctus ullamcorper. Morbi nec lectus ante. Mauris aliquam lobortis nunc vel molestie. Etiam suscipit vehicula massa at varius. In ultricies, nulla eu facilisis euismod, ligula quam dapibus felis, vitae eleifend orci nibh pharetra felis.
      </p><br />
  </p>
  </article>

</body>
</html>
