<!DOCTYPE html>
<!-- TODO: setup with Go later -->
<html>
<head>
  <title>
    ://About Me
  </title>

  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/about_me.css" />
  <link rel="stylesheet" type="text/css" href="../css/menu.css" />

</head>

<body>
  <div class="container">
    <ul class="menu">
      <li><a href="/home">Home</a></li>
      <li class="active"><a href="/about_me">About Me</a></li>
      <li><a href="/art">Artwork</a></li>
      <ul class="submenu">
        <li>Patterns</li>
        <li>Pencil Work</li>
        <li>Miscellaneous</li>
      </ul>
      <li><a href="/writing">Writing</a></li>
      <li><a href="/photography">Photography</a></li>
    </ul>

  <article>
  </article>
  </div>

</body>
</html>
