<!DOCTYPE html>
<!-- TODO: setup with Go later -->
<html>
<head>
  <title>
    ://BlackRose33
  </title>

  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>

<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="/home">Home</a></li>
        <li><center><img class="divider" src="../img/nav_circle.png" height="20" width="100"></center></li>
        <li><a href="/resume">Resume</a></li>
        <li><center><img class="divider" src="../img/nav_circle.png" height="20" width="100"></center></li>
        <li><a href="/art">Artwork</a></li>
        <li><center><img class="divider" src="../img/nav_circle.png" height="20" width="100"></center></li>
        <li><a href="/writing">Writing</a></li>
      </ul>
    </nav>

    <article>
    </article>
  </div>

  <footer>
    Made by Poorva Sampat
  </footer>
</body>
</html>
