<!DOCTYPE html>
<!-- TODO: setup with Go later -->
<html>
<head>
  <title>
    ://Resume
  </title>

  <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../css/resume.css" />
  <link rel="stylesheet" type="text/css" href="../css/frame.css" />

</head>

<body>
  <article>
    <div class="TopPanel">
      Poorva Sampat
    </div>

    <h4>Education</h4>
    <table class="edu">
      <tr>
        <th>Rutgers University - School of Arts and Science Honors Program</th>
        <td>September 2013 - May 2017</td>
      </tr>
      <tr>
        <th>B.S. Computer Science	</th>
        <td>GPA: 3.7</td>
      </tr>
      <tr>
        <th>B.S. Mathematics</th>
      </tr>
    </table>

    <h4>Skills</h4>
    <table class="skills">
      <tr>
        <th>Languages:</th>
        <td>Java, C, python</td>
      </tr>
      <tr>
        <th>Web Technologies:</th>
        <td>HTML, CSS, GoLang</td>
      </tr>
      <tr>
        <th>Databases:</th>
        <td>MySQL, MongoDB</td>
      </tr>
      <tr>
        <th>Tools and IDEs:</th>
        <td>Eclipse, SQL Workbench, GitHub, Atom</td>
      </tr>
    </table>

    <h4>Courses</h4>
    <table class="courses">
      <tr>
        <td>Data Structures</td>
        <td>Formal Lang & Automata</td>
        <td>Algorithm</td>
      </tr>
      <tr>
        <td>Computer Architecture</td>
        <td>Operating Systems	Design</td>
        <td>Distributed System</td>
      </tr>
      <tr>
        <td>Internet Technology</td>
        <td>Computer Security</td>
        <td>Cryptography</td>
      </tr>
      <tr>
        <td>Linear Optimization</td>
        <td>Theory of Numbers</td>
        <td>Graph Theory</td>
      </tr>
    </table>

    <h4>Work Experiance</h4>
    <p>
      Rutgers Office of Information Technology<br>
      Level 1 Network Support and Application Support Supervisor	August 2016 - present
      <ul>
        <li>Trained new consultants in group trainings and one-on-one trainings</li>
        <li>Trained existing consultants for higher level Network Support positions and taught classes on using Unix systems</li>
        <li>Provided advanced assistance to users as well as consultants at the help desk and the machine room. Also mentored a team of consultants during the semester</li>
      </ul>
      Level 2 Network Support and Escalation Consultant	May 2016 - August 2016
      <ul>
        <li>Performed Virus remediation and assisted other consultants with higher level Network related troubleshooting</li>
      </ul>
      Level 2 Application Support Consultant January 2015 - August 2016
      <ul>
        <li>Monitoring designated systems, services, networks and servers for the Rutgers OIT using Nagios</li>
        <li>Working in and monitoring the Central Machine Room for the University</li>
      </ul>
      Level 2 Advanced Helpdesk Consultant	May 2014 - July 2016
      <ul>
        <li>Promoted from Level 1 to Level 2 in January 2015</li>
        <li>Analyze the technical issues over the phone and provide second level professional customer service to all users(technical and non-technical) with University account issues, networking connectivity issues, and general information</li>
      </ul><br>

      IT consultant/ Dean's Assistant at the SASIT office in Rutgers University	September 2013 - May 2014
      <ul>
        <li>Responded to requests from academic department for hardware and software problems</li>
      </ul>
    </p>

      <h4>Research</h4>
      Summer Research Assistant under Professor Kostas Bekris							          Summer 2014
      <ul>
        <li>Intern for the REU-NSF cognitive science and computer science program, working on the project, “Port Authority Bus Terminal Crowd and Traffic Simulation”</li>
        <li>Worked on PRACSYS (Physics-aware Research for Autonomous Computational Systems), a software infrastructure that integrates low-level motion controllers with motion planners and higher-level task planners</li>
        <li>Learned about Velocity Obstacles, Planners, Controllers, Simulations and various other terminologies</li>
        <li>Created new environments to test simulations, added new animation to make the initial program more visually accurate, and created a new controller</li>
        <li>Presented at the Joint NSF CISE REU Site Symposium at Lehigh University</li>
      </ul>

      <h4>Leadership Experiance</h4>
      <p>
        Women In Computer Science <br>
        President	May 2016 - present
        <ul>
          <li>Lead general meetings</li>
          <li>Organize tech-talks, workshops and other events in tandem with various tech-related companies</li>
        </ul>
        Treasurer	September 2014 - May 2016
        <ul>
          <li>Manage the budget for the club and help plan events to generate awareness and support for women in computer science</li>
        </ul>
        HackHers - Founder and Lead Organizer	Spring 2015 & Spring 2016
        <ul>
          <li>Lead for HackHers 2016 - A hackathon to promote women in tech fields. Responsible for managing all organizers and planning the event as well as the pre-HackHers event</li>
          <li>Manage over $30k and interact with companies for sponsorships and tech-talks</li>
          <li>Taught CSS, HTML, Javascript, and Github at the preHackHers event</li>
        </ul>
      </p>

      <h4>Awards</h4>
      <ul>
        <li>NBCS Consultant of the Month Award (HelpDesk Office) October 2015</li>
        <li>Costumer Service Appreciation Award (HelpDesk Office)	March 2015</li>
        <li>Babbage level achievement (Kryptos Challenge) April 2015</li>
      </ul>

    </article>

  </body>
  </html>
